<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://ia800402.us.archive.org/12/items/nulls-20240602/nulls.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>nt.nb.ios</string>
        <key>bundle-version</key>
        <string>55.211</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Nulls by Daniel</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
